
@use "../../styles/_partials/variables" as *;
@use "../../styles/_partials/mixins" as *;

.custom-overlay {
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
  }
  
.custom-modal {
  width: 400px;
  max-width: 100%;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

  
button {
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  transition: 0.2s;
}

.back {
  background-color: lightgrey;
  color: #5c667E;
}

.cancel {
  background-color: white;
  color: #5c667E;
  border: 0.5px solid $Cloud;
}

.confirm {
    background-color: #c94515;
    color: white;
    margin-right: 10px;
}

.confirm:hover {
  background-color: darkred;
}

.button-group {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
}

button:hover {
    opacity: 0.8;
}
