
@use "./variables" as *;
@use "./fonts" as *;
@use "./mixins" as *;

body {
  font-family: "TitilliumWeb", sans-serif;
}

//page header
h1 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 600;

  @include tablet {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
  }

  @include desktop {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
  }
}

//subheader
h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;

  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }

  @include desktop {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}

//labels, links and buttons
h3,
a,
button {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-weight: 600;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 600;
  }

  @include desktop {
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 600;
  }
}

//table header
h4 {
  font-size: 0.6875rem;
  line-height: 1rem;
  font-weight: 400;

  @include tablet {
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 400;
  }

  @include desktop {
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: 400;
  }
}
