@use "../../styles/_partials/_globals" as *;
@use "../../styles/_partials/_fonts" as *;
@use "../../styles/_partials/_mixins" as *;
@use "../../styles/_partials/_variables" as *;

.title-wrapper{
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;

    &__left{
        display: flex;
    }
}

.details{
    margin-left: 1rem;
    margin-right: 1rem;

    &__labels{
        font-size: .6875rem;
        line-height: 1rem;
        color: $Slate;
    }

    &__outputs{
        font-size: .8125rem;
        line-height: 1rem;
        color: $Instock-Black;
    }

    &__contact-section{
        display: flex;
        justify-content: space-between;
    }
}