@use "../../styles/_partials/fonts" as *;
@use "../../styles/_partials/globals" as *;
@use "../../styles/_partials/mixins" as *;
@use "../../styles/_partials/variables" as *;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 1000;
  @include tablet {
      background-color: rgba(0, 0, 0, 0.5);
  }
}

.modal {
  position: relative;
  width: 100vw;
  max-width: 25rem;
  height: 100vh;
  background-color: white;
  padding: 1rem;
  flex-direction: column; 
  @include tablet {
      max-width: 42rem;
      max-height: 16.375rem; // Ask Matt 
      margin-top: 11.5625rem;
      box-shadow: 0rem 0.25rem 0.625rem rgba(0, 0, 0, 0.25);
      border-radius: 0.1875rem;
      padding: 1.5rem;
      display: flex;
      justify-content: space-between;
  }
  &__content {
    display: flex;
    flex-direction: column;
    margin-top: 3.75rem; 
    text-align: left; 
    @include tablet {
      margin-top: 1.5rem;
      padding-left: 1rem;
      padding-right: 1rem;  
      margin-left: auto; 
      margin-right: auto;
    }
  }
  &__title {
    font-family: "Titillium Web", sans-serif;
    font-size: 1.75rem;
    color: $Instock-Black;
    font-weight: 600;
    line-height: 2.25rem;
    margin-bottom: 1.5rem;
    @include tablet {
      margin-bottom: 1rem;
    }
  }
  &__text {
    font-family: "Titillium Web", sans-serif;
    font-size: 0.9375rem;
    color: $Instock-Black;
    font-weight: 400;
    margin-bottom: 1rem;
    line-height: 1.625rem;
    @include tablet {
      margin-bottom: 1rem;
    }
  }
  &__warehouse-actions {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 99%; 
    display: flex;
    justify-content: space-between;
    gap: 0.625rem;
    padding: 1rem;
    @include tablet {
      right: 1rem;
      bottom: 1rem;
      width: auto;
      justify-content: flex-end;
      margin-bottom: 0;
    }
  }
  &__button {
    font-family: "TitilliumWeb", sans-serif;
    flex: 1;
    padding: 0.5rem 0.75rem;
    border: none;
    border-radius: 20px;
    font-size: 13px;
    line-height: 1.25rem;
    font-weight: 400;
    height: 2.25rem;
    width: auto; 
    min-width: unset; 
    white-space: nowrap;
    cursor: pointer;
      @include tablet {
        font-size: 1rem;
        height: 2.375rem;
        padding: 0.5rem 1rem;
        flex: 0;
      }
      &--secondary {
        background-color: white;
        border: 0.0313rem solid $Cloud;
        font-family: "Manhattan", sans-serif; 
        color: $Slate;
        &:hover {
          border-color: $Instock-Indigo; 
          color: $Instock-Indigo; 
        }
        @include tablet {
          &:hover {
            border-color: $Instock-Indigo; 
            color: $Instock-Indigo; 
            text-decoration: none;
          }
        }
      }
      &--confirm {
        background-color: #C94515;
        color: white;
        &:hover {
          background-color: $Graphite;
        }
        @include tablet {
          &:hover {
            background-color: $Graphite;
            text-decoration: none;
            margin-bottom: 0;
          }
        }
      }
  }
  &__close-icon {
    position: absolute;
    top: 1rem; 
    right: 1rem; 
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer; 
    transition: opacity 0.2s ease-in-out;
    &:hover {
      opacity: 1; 
    }
  }
}

