@use "../../styles/_partials/fonts" as *;
@use "../../styles/_partials/globals" as *;
@use "../../styles/_partials/mixins" as *;
@use "../../styles/_partials/variables" as *;

.warehouse-search {
  background-color: $White;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  width: 100%;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
  }

  &__title {
    font-size: 2rem;
    color: $Instock-Black;
    align-self: flex-start;
  }

  &__controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include tablet {
      flex-direction: row;
      max-width: 29rem;
    }

    @include desktop {
      flex-direction: row;
      max-width: 35rem;
    }
  }

  &__input-container {
    position: relative;
    width: 100%;
  }

  &__input {
    width: 100%;
    padding: 0.75rem 3rem 0.75rem 1rem;
    font-size: 1rem;
    border: 1px solid $Cloud;
    border-radius: 2rem;
    color: $Slate;
    background-color: $White;
  }

  &__icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  &__add-link {
    width: 100%;
    @include desktop {
      width: 70%;
    }
  }

  &__add-button {
    background-color: $Instock-Indigo;
    color: white;
    border: none;
    padding: 0.75rem 2rem;
    border-radius: 1.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: center;
  }
}
