@use "../../styles/_partials/fonts" as *;
@use "../../styles/_partials/globals" as *;
@use "../../styles/_partials/variables" as *;
@use "../../styles/_partials/mixins" as *;

.inventory-form {
  display: flex;
  flex-direction: column;
  margin: 11px;
  background: $White;
  padding: 10px;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  top: -9vh;
  border-radius: 3px;
  
  &__header {
    display: flex;
    flex-direction: row;
    padding: 16px;
    width: 100%;
    position: relative;

    &-link {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: row;
      margin: 6px;

      img {
        width: 24px;
      }
    }
  }

  hr {
    border: none;
    border: 1px solid $Cloud;
    margin: 8px 0;
  }

  h1 {
    margin: 5px 0;
    line-height: 36px;
    font-weight: 600;
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
    line-height: 28px;
  }
  h3 {
    font-size: 13px;
    line-height: 10px;
  }

  .section {
    margin-bottom: 20px;

    h3 {
      margin-bottom: 10px;
    }

    label {
      display: block;
      font-weight: bold;
    }

    input,
    select,
    textarea {
      width: 90%;
      padding: 8px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 20px;
      font-size: 14px;

      &.error {
        border-color: $Red;
      }

      &:focus {
        border-color: $Instock-Indigo;
      }
    }

    .error-message {
      color: $Red;
      font-size: 13px;
      margin-top: -8px;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;

    .cancel {
      background: $White;
      border: solid 1px $Cloud;
      padding: 8px 40px;
      border-radius: 20px;
      cursor: pointer;
      color: $Slate;
      &:hover {
        border: solid 1px $Instock-Indigo;
        color: $Instock-Indigo;
      }
    }

    &__add-item {
      background: $Instock-Indigo;
      color: $White;
      border: none;
      padding: 10px 15px;
      border-radius: 20px;
      cursor: pointer;
      font-size: 13px;
      font-weight: 20px;
      &:hover {
        background-color: $Instock-Black;
      }
    }
  }

  @include tablet {
    .form-section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    margin: 0 28px;

    .buttons {
      justify-content: end;
      background-color: $Light-Grey;
      padding: 16px;
      .cancel {
        margin-right: 16px;
      }
    }

    .section {
      width: 100%;
      margin: 0 24px;

      input,
      select,
      textarea {
        width: 100%;
      }
    }
  }

  @include desktop {
    margin: 0 96px;
  }
}
