@use "../../styles/_partials/fonts" as *;
@use "../../styles/_partials/globals" as *;
@use "../../styles/_partials/variables" as *;
@use "../../styles/_partials/mixins" as *;

footer {
  font-family: "TitilliumWeb", sans-serif;
  font-weight: 400;
  text-align: center;
  color: $Slate;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 0.6875rem;
  line-height: 1rem;

  @include tablet {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }

  @include desktop {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}
