@use "../../styles/_partials/fonts" as *;
@use "../../styles/_partials/globals" as *;
@use "../../styles/_partials/mixins" as *;
@use "../../styles/_partials/variables" as *;


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 1000;
    @include tablet {
        background-color: rgba(0, 0, 0, 0.5);
        align-items: center;
    }
  }
  
  .modal {
    position: relative;
    width: 100vw;
    max-width: 672px; 
    height: 100vh;
    background-color: white;
    padding: 1rem;
    flex-direction: column; 
    @include tablet {
        max-width: 42rem;
        max-height: 16.375rem; 
        margin-top: 0;
        box-shadow: 0px .25rem .625rem rgba(0, 0, 0, 0.25);
        border-radius: .1875rem; 
        padding: 1.5rem;
        display: flex;
        justify-content: space-between;
    }
    &__content {
      display: flex;
      flex-direction: column;
      margin-top: 3.75rem; 
      text-align: left; 
      padding: 1rem;
      margin-bottom: 1rem;
      @include tablet {
        margin-top: 1rem; 
        padding-left: 1rem;
        padding-right: 1rem;  
        margin-left: auto; 
        margin-right: auto;
      }
    }
    &__title {
      font-family: "TitilliumWeb", sans-serif;
      font-size: 1.75rem;
      color: $Instock-Black;
      font-weight: 600;
      line-height: 2.25rem;
      margin-bottom: 1.5rem;
      @include tablet {
        margin-bottom: 1rem;
        font-size: 2rem;
        line-height: 2.5rem;
      }
    }
    &__text {
      font-family: "TitilliumWeb", sans-serif;
      font-size: 15px;
      color: $Instock-Black;
      font-weight: 400;
      margin-bottom: 1rem;
      line-height: 1.625rem;
      @include tablet {
        margin-bottom: 1rem;
        line-height: 1.75rem;
        font-size: 1rem;
      }
    }
    &__inventory-actions {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 99%;
      display: flex;
      justify-content: space-between;
      gap: .625rem;
      padding: 1rem;
      margin-top: auto;
      margin-bottom: 1rem;
      @include tablet {
        right: 1rem;
        bottom: 1rem;
        width: auto;
        justify-content: flex-end;
        margin-bottom: 0;
      }
    }
    &__button {
      font-family: "TitilliumWeb", sans-serif;
      flex: 1;
      padding: .5rem .75rem;
      border: none;
      border-radius: 1.25rem;
      font-size: .8125rem;
      line-height: 1.25rem;
      font-weight: 400;
      height: 36px;
      width: 100vw;
      min-width: unset; 
      white-space: nowrap;
      cursor: pointer;
        @include tablet {
          font-size: 1rem;
          height: 38px;
          padding: .5rem 1rem;
          flex: 0;
        }
        &--secondary {
          background-color: white;
          border: .0313rem solid $Cloud;
          font-family: "Manhattan", sans-serif; 
          color: $Slate;
          &:hover {
            border-color: $Instock-Indigo; 
            color: $Instock-Indigo; 
          }
          @include tablet {
            &:hover {
              border-color: $Instock-Indigo; 
              color: $Instock-Indigo; 
              text-decoration: none;
            }
          }
        }
        &--confirm {
          background-color: #C94515;
          color: white;
          &:hover {
            background-color: $Graphite;
          }
          @include tablet {
            &:hover {
              background-color: $Graphite;
              text-decoration: none;
            }
          }
        }
    }
    &__close-icon {
      position: absolute;
      top: 1rem; 
      right: 1rem; 
      width: 1.5rem;
      height: 1.5rem;
      cursor: pointer; 
      transition: opacity 0.2s ease-in-out;
      &:hover {
        opacity: 1; 
      }
    }
  }
  
  